body {
    font-family: Roboto, Arial;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 18px;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.intro {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 48px;
    justify-content: space-evenly;
    align-items: center;
}

.itext {
    width: 350px;
    word-wrap: normal;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: 900;
    border-radius: 6px;
    border: 0;
    padding: 10px 30px;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 16px;
    position: fixed;
    width: 100%;
    bottom: 0;
}